* {
    padding: 0px;
    margin: 0px;
}

.img1,
.img2,
.img3,
.img4,.img5 {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-size: cover;
    margin: auto;

}
body{
    background-color: rgb(36, 2, 2);
}
.box {
 width: 80%;
  
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 80vh;
    align-items: center;
    
}
.content{
    margin: auto;
    text-align: center;
  color: white;
}
audio{
    visibility: hidden;
}
.img1 {
    height: 190px;
    width: 190px;
    background-image: url("1.jpg");
    margin: 5px;
    text-align: center;
 /* position: relative;
 left: 30%; */
 animation: rotate 12s infinite linear;
}
.img5{
    filter: brightness(0.5);

    background-image: url("1.jpg");
}
@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}
.img2 {
    background-image: url("2.jpg");
    margin: 15px;
    filter: brightness(0.5);
}

.img3 {
    background-image: url("3.jpg");
    margin: 15px;
    filter: brightness(0.5);
}

.img4 {
    background-image: url("4.jpg");
    margin: 15px;
    filter: brightness(0.5);
  
   
}
.img2:hover , .img3:hover , .img4:hover , .img5:hover{
    filter: brightness(0.8);
   


}

@media screen and (max-width:768px) {
    .box{
        display: block;
     
              
    }
    
    .img2 , .img3 , .img4 , .img5 , .img1{ 
      
       margin: auto;
       
    }
    .play{
        display: flex;
        flex-wrap: wrap;
    }
 
}